button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("images/skin.png");
  background-size: cover;        /* couvre tout l’écran */
  background-position: center;   /* centre l’image */
  background-repeat: no-repeat;  /* pas de répétition */
}
.logo {
  width: 100px;   /* change la taille ici */
  height: auto;   /* garde les proportions */
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  animation: float 3s ease-in-out infinite,
             spin 6s linear infinite;
}

#logoBtn:hover {
  text-decoration: underline;
  opacity: 0.8;
}
