

body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("images/skin.png");
  background-size: cover;        /* couvre tout l’écran */
  background-position: center;   /* centre l’image */
  background-repeat: no-repeat;  /* pas de répétition */
}
.logo {
  width: 100px;   /* change la taille ici */
  height: auto;   /* garde les proportions */
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
#logoBtn:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.bbbb {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
