body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("images/skin.png");
  background-size: cover;        /* couvre tout l’écran */
  background-position: center;   /* centre l’image */
  background-repeat: no-repeat;  /* pas de répétition */
}
button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.logo {
  width: 150px;   /* change la taille ici */
  height: auto;   /* garde les proportions */
}
