body {
  text-align: center;
  font-family: Arial, sans-serif;
}

#zone {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 20px auto;
  background-color: #eee;
  border: 2px solid black;
}

#player {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  top: 10px;
  left: 10px;
}

#target {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  top: 200px;
  left: 300px;
}
