
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #8800FF;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
#monBouton2:hover {
  animation: shake 0.3s;
}
#monBouton:hover {
  animation: shake 0.3s;
}
#monBouton {
  background-color: #2ecc71; /* vert */
  color: white;
}
#monBouton2 {
  background-color: #e74c3c; /* rouge */
  color: white;
}
#monBoutonBacktomenu {
  background-color: none;
  color: white;
  border: none;
  font-size: 30px;        /* taille du texte */
  font-family: "Courier New", monospace;
  border-radius: 50px;   /* forme arrondie */
  padding: 15px 35px;
}
