
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #8800FF;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
button:hover {
  transform: scale(1.1);
  transition: 0.2;
}
#monBouton2:hover {
  animation: shake 0.3s;
}
#monBouton2:hover {
  animation: shake 0.3s;
  
#monBoutontest:hover {
  animation: shake 0.3s;
}
#monBouton {
  background-color: #2ecc71; /* vert */
  color: white;
}
#monBouton2 {
  background-color: #e74c3c; /* rouge */
  color: white;
}
  #monBoutontest {
  background-color: #00EAFF; /* bleu */
  color: white;
  }
#logoBtn:hover {
  text-decoration: underline;
  opacity: 0.8;
}
.logo {
  width: 100px;   /* change la taille ici */
  height: auto;   /* garde les proportions */
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
